autogen/
latex/*

!latex/*.tex

simX_fork/boost*

*.root
*.pdf

**/CMakeFiles/
**/CMakeCache.txt
**/.idea/
**/__pycache__/
**/.vscode/
**/build/

analysis/**/data/*
analysis/**/figures/*
analysis/**/id/*
analysis/**/match/*
analysis/**/merged/*
analysis/**/output/*
analysis/**/reportfig/
analysis/**/tdc/
analysis/**/sim/raw/*
analysis/**/sim/data/*
analysis/**/sim/data_i/*
analysis/**/calibration/
analysis/**/autogen/

analysis/**/analysis/calibrate_reconstructed
analysis/**/analysis/calibrate_true
analysis/calibrate/figures/
analysis/calibrate/calibrate
analysis/calibrate/calibrate_constructed
analysis/calibrate/mul_compare
