autogen/
sim3a/
sim3a_i/
simX_fork/

*.root

analysis/**/data/
analysis/**/figures/
analysis/**/id/
analysis/**/match/
analysis/**/merged/
analysis/**/output/
analysis/**/reportfig/
analysis/**/tdc/
analysis/**/sim/
analysis/**/calibration/
analysis/**/autogen/
analysis/**/tdc_compare.pdf
analysis/**/tdcfit.pdf

analysis/sim/balamuth
analysis/sim/balamuth_i
analysis/sim/simX_fork

analysis/figure_scripts/dalitzfig
analysis/figure_scripts/dalitz_forfit
analysis/figure_scripts/eCM
analysis/figure_scripts/ExpT
analysis/figure_scripts/QpT
analysis/figure_scripts/fynbo_plot
analysis/figure_scripts/kinematic
analysis/figure_scripts/kinematic_lab
analysis/figure_scripts/phi
analysis/figure_scripts/rho

**/CMakeFiles/
**/.idea/
**/__pycache__/

analysis/**/analysis/calibrate_reconstructed
analysis/**/analysis/calibrate_true
analysis/calibrate/figures/
analysis/calibrate/calibrate
analysis/calibrate/calibrate_constructed
analysis/calibrate/mul_compare
