autogen/
sim3a/
sim3a_i/
simX_fork/

*.root

analysis/**/data/
analysis/**/figures/
analysis/**/id/
analysis/**/match/
analysis/**/merged/
analysis/**/output/
analysis/**/reportfig/
analysis/**/tdc/
analysis/**/sim/
analysis/**/calibration/
analysis/**/autogen/
analysis/**/tdc_compare.pdf
analysis/**/tdcfit.pdf

analysis/sim/balamuth
analysis/sim/balamuth_i
analysis/sim/simX_fork

**/CMakeFiles/
**/.idea/
**/__pycache__/

analysis/**/analysis/calibrate_reconstructed
analysis/**/analysis/calibrate_true
analysis/calibrate/figures/
analysis/calibrate/calibrate
analysis/calibrate/calibrate_constructed
analysis/calibrate/mul_compare
